go 1.26.3

use (
	./apps/auth-gateway
	./apps/finance-service
	./apps/iam-service
	./apps/mdm-service
	./apps/platform-service
	./libs/go/arda-auth
	./libs/go/arda-errors
	./libs/go/arda-grpc
	./libs/go/arda-proto
	./tools/arda-cli
	./tools/mock-token
)
